<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mental Health Assistant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Doctors</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Gallery</a>
             </li>
          </ul>
          
        </div>
      </div>
    </nav>
   
   <br>
   <br>
   <div class="grid-container">
      <div class="g-col-6">
         <img src="assets/images/doctor.png" class="img-thumbnail" alt="..." >
         <br>
         <br>
         <button type="button" class="btn btn-primary btn-lg">Register Doctor</button>
      </div>
         <div class="g-col-6-1">
            <img src="assets/images/yoga.png" class="img-thumbnail" alt="..." >
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg">Gallery</button>
      </div>
    </div>
  </body>
</html>

 